* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    min-height: 100vh;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    overflow-x: hidden;
}

.background-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;
    background-image: url("images/background-pattern-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    z-index: 0;
}

.faq-card {
    position: relative;
    max-width: 600px;
    width: 100%;
    padding: 40px;
    background-color: hsl(0, 100%, 100%);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    z-index: 1;
}

.heading {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    color: hsl(292, 42%, 14%);
}

.icon-star {
    width: 40px;
    height: 40px;
}

.faq-item {
    width: 100%;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 24px 0;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    cursor: pointer;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
}

.faq-question:hover .question-text{
    color: hsl(292, 84%, 54%);
}

.question-text {
    font-size: 18px;
    font-weight: 600;
    color: hsl(292, 42%, 14%);
    transition: color 0.3s ease;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-answer.active {
    padding-top: 20px;
    max-height: 500px;
}

.answer-text {
    font-weight: 400;
    line-height: 1.5;
    color: hsl(292, 16%, 49%);
}

@media (max-width: 768px) {
    .background-pattern {
        background-image: url("images/background-pattern-mobile.svg");
    }

    .faq-card {
        padding: 24px;
    }

    .heading {
        gap: 10px;
        margin-bottom: 24px;
    }

    .title {
        font-size: 40px;
    }

    .icon-star {
        width: 28px;
        height: 28px;
    }

    .faq-item {
        padding: 20px 0;
    }

    .answer-text, .question-text {
        font-size: 14px;
    }

    .faq-answer.active {
        padding-top: 10px;
    }

}