* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    background-color: hsl(275, 100%, 97%);
}

.banner {
    height: 300px;
    background-image: url("images/background-pattern-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.faq-card {
    width: 500px;
    padding: 20px 30px;
    margin: 20px auto;
    background-color: hsl(0, 100%, 100%);
    border-radius: 20px;
}

.heading {
    font-size: 24px;
    color: hsl(292, 42%, 14%);
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.expandable {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 20px 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.question {
    color: hsl(292, 42%, 14%);
    font-size: 18px;
    font-weight: 700;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .banner {
        background-image: url("images/background-pattern-desktop.svg");
    }

    .expandable {
        justify-content: space-between;
    }

    .question {
        font-size: 16px;
    }
}